**/bin/*
**/obj/
**/Itinero-Transit.sln.DotSettings.user
**/logs/*
**/cache/*
**/cache-dir/*
**/timetables-cache/*
Itinero-Transit/timetables-for-testing-2018-10-02/*
*.routerdb
*.osm.pbf
/test/Itinero.Transit.Tests.Functional/storage/
**/perf.data
**/perf.data.old
**/flame.svg
**/*.transitdb
**/*.gtfs.zip
**/*.zip
**/*.mvt
*.osm.bin
*.md5

samples/**/output/*
.idea/.gitignore
.idea/.idea.Itinero.IO.Osm.Transit/.idea/.gitignore
.idea/.idea.Itinero.IO.Osm.Transit/.idea/.name
.idea/.idea.Itinero.IO.Osm.Transit/.idea/contentModel.xml
.idea/.idea.Itinero.IO.Osm.Transit/.idea/indexLayout.xml
.idea/.idea.Itinero.IO.Osm.Transit/.idea/modules.xml
.idea/.idea.Itinero.IO.Osm.Transit/.idea/projectSettingsUpdater.xml
.idea/.idea.Itinero.IO.Osm.Transit/.idea/vcs.xml
.idea/.idea.Itinero.IO.Osm.Transit/riderModule.iml
test/Itinero.IO.Osm.Transit.Tests.Functional/output.dbf
test/Itinero.IO.Osm.Transit.Tests.Functional/output.shp
test/Itinero.IO.Osm.Transit.Tests.Functional/output.shx
